<!DOCTYPE html>
<html lang="en">
  <head>
    {% include("templates/head.twig") %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
